/* Highlight group selection headers in indicator drop down*/
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:regular,500,600,700%7CRoboto:regular,500,700"); 

.dropdown-header{
  color: #000000 !important;
  background-color: #e0e0d5 !important;
  font-weight: bold
}


